.wrapper-content {
  position: relative; }

.main {
  position: relative;
  overflow: hidden; }
  .main .main-content {
    position: relative; }
  .main .list-content ul {
    font-size: 0; }
    .main .list-content ul li {
      position: relative; }
      .main .list-content ul li a {
        height: 95px;
        line-height: 95px;
        font-size: 24px;
        color: #584d4b;
        font-weight: bold;
        padding-left: 50px;
        border-bottom: 1px solid #FFF;
        background: #91837F;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .main .list-content ul li a span {
          position: absolute;
          right: 50px;
          -moz-transition: 0.5s;
          -o-transition: 0.5s;
          -webkit-transition: 0.5s;
          transition: 0.5s; }
  .main .list-content .list-sub {
    display: none; }
    .main .list-content .list-sub a {
      background: #AF9E97; }

.content.step1 {
  display: none;
  box-sizing: border-box;
  padding: 0 20px; }
.content .back-btn {
  margin-top: 15px;
  font-size: 20px;
  text-align: right; }
  .content .back-btn a {
    display: inline-block;
    width: 150px;
    height: 40px;
    color: #FFF;
    background: #8B675D;
    text-align: center;
    line-height: 40px;
    border-radius: 10px; }
.content .item-title {
  font-size: 32px;
  color: #FFF;
  text-align: center;
  margin: 15px 0; }
.content .item-bar {
  font-size: 0;
  margin-top: 30px; }
  .content .item-bar p {
    margin-top: 5px; }
  .content .item-bar li {
    display: inline-block;
    width: 135px;
    vertical-align: top; }
    .content .item-bar li img {
      display: block;
      width: 100%; }
    .content .item-bar li a {
      font-size: 20px;
      color: #FFF;
      text-align: center; }
    .content .item-bar li ~ li {
      margin-left: 20px; }
.content.tvc .item-bar-box, .content.report .item-bar-box {
  margin-top: 45px;
  overflow: hidden; }
.content.tvc .item-bar, .content.report .item-bar {
  position: relative;
  width: 99999px;
  margin-top: 0;
  top: 0; }
  .content.tvc .item-bar li, .content.report .item-bar li {
    width: 140px; }
.content.tvc .item-bar, .content.report .item-bar {
  margin-left: -36px; }
  .content.tvc .item-bar li, .content.report .item-bar li {
    margin-left: 36px; }
.content.tvc .item-bar-area, .content.report .item-bar-area {
  position: relative;
  width: 490px;
  height: 150px;
  margin-left: 55px; }
.content.tvc .item-info, .content.report .item-info {
  margin-top: 5px; }
.content.tvc .item-bar-btn, .content.report .item-bar-btn {
  position: absolute;
  width: 17px;
  height: 35px;
  left: -53px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer; }
  .content.tvc .item-bar-btn.up, .content.report .item-bar-btn.up {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6; }
  .content.tvc .item-bar-btn.down, .content.report .item-bar-btn.down {
    left: auto;
    right: -53px; }
.content.tvc .item-title .name, .content.report .item-title .name {
  margin-left: 15px 0; }
.content.report .item-play img {
  width: 600px; }

.footer {
  border-top: none; }

/*# sourceMappingURL=m-media.css.map */
